@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}


.sidebar-menu.ant-menu-inline >.ant-menu-item-group>.ant-menu-item-group-title::after {
    position: relative;
    top: 12px;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: rgba(5, 5, 5, 0.06);
    content: '';
}
